
html, body {
  background: linear-gradient(to left, #165879c7 , #023085);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(3, 1fr); /* 3 filas */
  gap: 8px;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;  /* Centra los elementos dentro */
  align-items: stretch;       /* Asegura que esté bien alineado */
 }
  /* Ajuste del tamaño de cada box */
  .box {
    background: #afaeae;
    box-shadow: 0 2vw 2vw -1vw black;
    width: 100%;
    aspect-ratio: 1 / 1; /* Mantiene el cuadro perfectamente cuadrado */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none; /* Evita selección de texto */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  /* Mantiene la letra en la esquina superior izquierda */
  .box span {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 3vw; /* Tamaño relativo al ancho de la pantalla */
    color: rgb(115, 115, 116);
  }
  /* Centra la imagen en cada box */
  .box img {
    width: 50%;  /* Ajusta la imagen al tamaño del box */
    height: 50%;
    object-fit: contain;
    pointer-events: none; /* Evita que el cursor interactúe con la imagen */
    user-select: none;
    -webkit-user-drag: none; /* Evita que se pueda arrastrar la imagen */
    -moz-user-drag: none;
    -ms-user-drag: none;
  }
.box:active {
    background-color: #222;
    transform: scale(1.1);
    transition: all 0.2s;
}
.active {
    background-color: #222;
    transform: scale(1.1);
    transition: all 0.2s;
}
